:root {
  /* header height */
  --hdr-ht: 3rem;
  /* left-right padding */
  --lr-pdg: 1rem;
  /* shadow strength and colour */
  --shadow: 0 0 0.3rem 0.1rem rgba(0, 0, 0, 0.1);
  /* transition interval */
  --trans: 0.2s;
  /* disabled text colour */
  --dis-clr: dimgray;
  /* background colour */
  --bkg-clr: white;
  /* highlight colour */
  --hl-clr: silver;
  /* header colour */
  --hdr-clr: #d2d2d2;
  /* dropdown colour */
  --dd-clr: #e9e9e9;
  /* test */
  --test: yeehaw;
}

/* style defaults */
* {
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: medium;
  margin: 0;
  padding: 0;
  transition: background-color var(--trans);
}

html {
  min-height: 100%;
  min-width: 100%;
}

body {
  /* height and width fit screen */
  height: 100%;
  width: 100%;
  /* fix position relative to browser
  window, i.e. no scroll */
  position: fixed;
  background-color: var(--bkg-clr);
  /* flex container */
  display: flex;
  flex-direction: column;
}

/* don't display labels */
label {
  display: none;
}

/* make buttons and inputs
stretch to match parent */
button, input {
  display: block;
  height: 100%;
  width: 100%;
}

/* custom disabled text colour */
:disabled {
  color: var(--dis-clr);
  transition: color var(--trans);
}

:enabled {
  transition: color var(--trans);
}

.hdr {
  /* flex item. no grow or shrink,
  dimensions fixed */
  flex: 0 0 auto;
  /* height fixed, width
  match parent */
  height: var(--hdr-ht);
  min-width: 100%;
  /* flex container */
  display: flex;
  /* theme styles */
  background-color: var(--hdr-clr);
  box-shadow: var(--shadow);
  z-index: 2;
}

.hdr * {
  font-size: large;
}

.hdr > .sqr-btn {
  /* flex item. no shrink or grow,
  dimension square (length == height) */
  flex: 0 0 var(--hdr-ht);
}

.hdr > .title {
  /* flex item. allow shrink or grow,
  dimension fit content */
  flex: 1 1 auto;
}

.hdr *:hover {
  background-color: var(--hl-clr);
  transition: background-color var(--trans);
}

.hdr *:disabled {
  background-color: var(--hdr-clr);
  transition: all 0s;
}

/* main content area */
.cnt {
  /* flex item. allow shrink or grow */
  flex: 1 1 auto;
  /* flex container */
  display: flex;
  flex-direction: column;
  /* is a positioned element, so its
  children can be positioned relative
  to it*/
  position: relative;
}
