:root {
	--banner-height: 2.5rem;
	--transition-time: 0.3s;
	--icon-width: 2rem;

	--bg-colour: white;
	--font-colour: black;
	--banner-colour: silver;
	--menu-colour: gainsboro;
	--hl-colour: rgb(0 0 0 / .1);
}
:root.dark-theme {
	--bg-colour: black;
	--font-colour: gainsboro;
	--banner-colour: rgb(60 60 70);
	--menu-colour: rgb(40 40 45);
	--hl-colour: rgb(255 255 255 / .1);
}

* {
	/* universal default styles */
	box-sizing: border-box;
	margin: 0;
	border: none;
	outline: none;
	transition: all var(--transition-time);
	color: var(--font-colour);
}
html, body {
	height: 100%;
	width: 100%;
}
body {
	/* main display is a flex container */
	display: flex;
	flex-direction: column;

	/* disable pull-to-refresh */
	overscroll-behavior: contain;
}
button {
	/* override user agent styling for buttons */
	display: block;
	cursor: pointer;
}
.menu {
	/* override user agent styling for custom menus */
	list-style-type: none;
	padding-inline-start: 0;
}

.icon {
	/* ??? */
	font-style: normal;
	display: inline-block;
	height: var(--icon-width);
	width: var(--icon-width);
	padding: 4px;
	text-align: center;
}


.closed-curtain {
	transition: background-color var(--transition-time), z-index var(--transition-time) step-end;
	z-index: -1;
	background-color: transparent;
}
.opened-curtain {
	transition: background-color var(--transition-time), z-index var(--transition-time) step-start;
	z-index: 1;
	background-color: rgb(0 0 0 / .6);
}
#curtain {
	/* curtain starts off invisible and uninteractive */
	position: absolute;
	width: 100%;
	height: 100%;
}


#banner {
	/* banner is fixed height */
	flex: none;
	height: var(--banner-height);

	/* is a flex container */
	display: flex;

	/* colour & font */
	background-color: var(--banner-colour);
	font-size: 1rem;
}
	#banner > *:hover {
		/* highlight banner items on pointer hover */
		background-color: var(--hl-colour);
	}
	#menubutton {
		/* menu button is a square (fixed width) */
		flex: none;
		width: var(--banner-height);

		/* colour & font */
		background-color: transparent;
		font-size: inherit;
	}
	#filename {
		/* file name field takes up the rest of the banner space */
		flex: auto;
		overflow: auto;
		padding: 0 1rem;

		/* colour & font */
		background-color: transparent;
		font-size: inherit;
	}


.closed-menu {
	transform: translateX(-100%);
}
.opened-menu {
	transform: translateX(0);
}
#menu {
	display: block;
	height: 100%;

	/* menu appears as an overlay */
	position: absolute;
	z-index: 2;
	overflow-x: hidden;
	overflow-y: auto;

	/* colour & font */
	background-color: var(--menu-colour);
}
	#menu > li > * {
		/* each menu button */
		height: var(--banner-height);
		width: 100%;
		padding: 0 1rem;
		text-align: left;
		overflow: hidden;

		/* colour & font */
		background-color: transparent;
		font-size: 1rem;
	}
	#menu > li > *:hover {
		background-color: var(--hl-colour);
	}


#content {
	/* content area fills remaining space */
	flex: auto;
	display: flex;
}
	#filecontent {
		/* file content textbox */
		flex: auto;
		border: solid 0.5rem var(--bg-colour);
		white-space: pre;
		resize: none;
		overflow: auto;
		background-color: var(--bg-colour);
	}


#symbar {
	/* symbar is fixed height */
	flex: none;
	height: var(--banner-height);
	
	/* horizontal flex container */
	display: flex;
	overflow: auto;

	/* colour & font */
	background-color: var(--banner-colour);
	font-size: 1rem;

	/* transition */
	transition: none;
}
	#symbar > li {
		flex: none;
	}
	#symbar > li > *:active {
		/* highlight symbar items on click */
		background-color: var(--hl-colour);
		transition: all 0.1s;
	}
	#symbar > li > * {
		/* button fills height */
		height: 100%;

		/* button has min & max width */
		min-width: var(--banner-height);
		max-width: calc(3*var(--banner-height));

		/* in case of overflow */
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		/* colour & font */
		background-color: transparent;
		font-size: inherit;
		transition: all 0.1s;
	}


#kbdplaceholder {
	flex: none;
	height: env(keyboard-inset-height, 0);
	background-color: var(--bg-colour);
	transition: none;
}
